:root{
    --light: #2DC7FF;
    --sec-light: #EAD2AC;
    --sec-dark: #EABA6B;
    --font: 'Kanit', sans-serif;
}





body{
    margin: 0;
    
}

a{
    text-decoration: none;
}



.content{
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    
}

.content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.content-section{
    height: 100%;
    scroll-snap-align: start;
}

#landing-section{
    background-color: var(--light);
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.4s ease-in;
}

.separator-container{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator{
    width: 80%;
    height: 5px;
    background-color: var(--sec-light);
    transition: all 0.4s ease-in;
    
}

.main-div{
    display: flex;
    width: 100%;
    height: 84%;
    height: full;
    
}

.left-space{
    width: 10%;
    height: 100%;
    
}


.right-space{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: sticky;
    
}

/* AVATAR STYLING */

.avat-wrap{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    
}



.avatar{
    width: 100%;
    height: 100%;
    position: relative;
}

.circ{
    position: absolute;
    width: 1200px;
    height: 1200px;
    background-color: var(--sec-light);
    bottom: -62vh;
    right: -75vh;
    border-radius: 50%;
    transition: all 0.4s ease-in;
}



/* CONTENT STYLING */

.content{
    width: 50%;
    height: 100%;
}


h1{
    font-size: 120px;
    font-family: var(--font);
    font-weight: 700;
    margin: 0;
}

h2{
    font-size: 80px;
    font-weight: 600;
    font-family: var(--font);
    margin: 0;
    margin-top: 20px;
}

h3{
    font-size: 45px;
    font-weight: 600;
    font-family: var(--font);
}

/* BUTTONS STYLING */

.button-wrap{
    display: flex;
    margin-top: 20px;
}

.action-btn{
    width: 160px;
    height: 75px;
    border-radius: 20px;
    background-color: var(--sec-dark);
    border-style: none;
    margin-right: 40px;
    font-family: var(--font);
    font-size: 25px;
    font-weight: 600;
}

.action-btn:hover{
    cursor: pointer;
}


.app-image{
    width: 387px;
    height: 207px;
}

.app-wrap{
    width: 80%;
}

.app-buttons{
    display: flex;
    
    
}

.app-btn{
    width: 150px;
    height: 50px;
    background-color: var(--sec-light);
    font-family: var(--font);
    font-weight: 500;
    margin-right: 50px;
    margin-top: 20px;
    border-style: none;
    border: 3px solid #00ABE7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.app-btn:hover{
    background-color: #00ABE7;
    cursor: pointer;
}

.btn-icon{
    width: auto;
    height: 60%;
    margin-left: 10px;
}

.app-info{
    font-size: 30px;
    font-family: var(--font);
    font-weight: 300;
}

.tech-wrap{
    display: flex;
    width: 100%;
}

.tech-container{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--sec-dark);
    margin-right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-icon{
    width: 60%;
    height: auto;
}

.myskills-wrap{
    display: flex;
    flex-wrap: wrap;
}

.myskill-cont{
    width: 150px;
    height: 150px;
    background-color: var(--sec-dark);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 50px;
}

.tech-title{
    font-family: var(--font);
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}